body {
  position: relative;
  font-family: "Nunito", "Helvetica", "Roboto", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* @apply text-light-default; */
}