.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.gap-4 {
  gap: 1rem;
}

body {
  background-color: var(--ron-color-dark-surface-2);
  /* color: var(--ron-color-on-dark); */
}
