.side-icon-carousel {
  position: relative;
  width: 70%;
  max-width: 60%;

  .active-cell {
    border-bottom-color: var(--color-link);

    .icon-wrapper {
    border-color: var(--color-link);
    background-color: var(--color-link);
    }
  }
  .icon-wrapper {
    width: 60px;
    min-width: 60px;
    height: 60px;

    img {
      max-width: none;
    }
  }
  .side-icon-wrapper img {
    width: 85px;
    transform: translate(-15px, -32px);
  }
  .beta-icon-wrapper img {
    transform: translate(-2.5px, -0px);
  }

  @media (min-width: 768px) {
    max-width: 70%;
  }
}
